<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>List Person</h1>
<a href="/add"> Add new Person</a>
<table border="10" cellpadding="20" cellspacing="10">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Age</th>
        <th>Avatar</th>
        <th>Address</th>
        <th>Sex</th>
        <th colspan="2">Action</th>
    </tr>
    <tr th:each="p:${list}">
        <td th:text="${p.id}"></td>
        <td th:text="${p.name}"></td>
        <td th:text="${p.age}"></td>
        <td><img width="100" height="100" style="object-fit: cover" th:src="@{|/upload/${p.avatar}|}" alt="#"></td>
        <td th:text="${p.address}"></td>
        <td th:text="${p.sex}?'Nam':'Nữ'"></td>
        <td><a th:href="@{|/edit/${p.id}|}">Edit</a></td>
        <td><a th:href="@{|/delete/${p.id}|}">Delete</a></td>
    </tr>
</table>
</body>
</html>